<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <title>周岁庆</title>
  <link href="__CONTROLLER__/Public/css/style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="__CONTROLLER__/Public/js/jquery.min.1.7.1.js"></script>
  <script type="text/javascript" src="__CONTROLLER__/Public/js/style.js"></script>
</head>
<body>
<div class="topNav">
	<div class="wap">
		   <a class="logo" href=""></a>
		<ul id="nav" class="topUl">
			<li>
				<a class="active" href="#section-1">飞吧老男孩</a>
			</li>
			<li>
				<a href="#section-2">海外</a>
			</li>
		    <li>
				<a href="#section-3">荣誉王者</a>
			</li>
			<li>
				<a href="#section-4">精神柱</a>
			</li>
        </ul>
        <div class="login">登陆</div>
	</div>
</div>
<div class="content">
	<div id="section-1" class="section">
		<div class="wap">
			<div class="wap_1">
				<div class="wap_1Thum"></div>
			</div>
		</div>
	</div>
	<div id="section-2" class="section">
		<div class="wap">
			1
		</div>
	</div>
	<div id="section-3" class="section">
		<div class="wap">
			1
		</div>
	</div>
	<div id="section-4" class="section">
		<div class="wap">
			1
		</div>
	</div>
</div>

</html>
	